footer {
    width: 100%;
    padding: 89px 0 174px 0;
    background-color: black;
    box-sizing: border-box;
    & > section {
        max-width: 1150px;
        width: 100%;
        margin: 0 auto;
        flex-wrap: wrap;
        display: flex;
        & > .blok_1 {
            margin-left: 70px;
            width: 100%;
            max-width: 362px;
            display: flex;
            flex-direction: column;
            & > h3 {
                font-family: $osb;
                font-size: 24px;
                line-height: 33px;
                color: #ffffff;
            }
            & > .text {
                margin-top: 21px;
                width: 256px;
                line-height: 19px;
                color: #b1b1b1;
            }
            & > div {
                margin-top: 32px;
                & > a {
                    text-decoration: none;
                    margin-right: 10px;
                }
                & .fa {
                    fill: #3b5998;
                }

                & .fb {
                    fill: #fff;
                }
                & .ta {
                    fill: #55acee;
                }

                & .tb {
                    fill: #f1f2f2;
                }
                & .ga {
                    fill: #dc4e41;
                }

                &.gb {
                    fill: #fff;
                }
            }
            & > .copyright {
                margin-top: 54px;
                line-height: 19px;
                color: #b1b1b1;
                & > a {
                    text-decoration: none;
                    color: #5863f8;
                    &:hover {
                        color: $bluehover;
                    }
                    &:active {
                        color: $blueactive;
                    }
                }
            }
        }
        & > .blok_2 {
            width: 72px;
            display: flex;
            flex-direction: column;
            margin-left: auto;

            & > h4 {
                font-family: $osr;
                font-size: 18px;
                line-height: 24px;
                color: #ffffff;
                margin-bottom: 21px;
            }
            & > a {
                line-height: 19px;
                color: $blue;
                margin-bottom: 11px;
                text-decoration: none;
                &:hover {
                    color: $bluehover;
                }
                &:active {
                    color: $blueactive;
                }
            }
        }
        & > .blok_3 {
            width: 220px;
            display: flex;
            flex-direction: column;
            margin-left: 147px;

            & > h4 {
                font-family: $osr;
                font-size: 18px;
                line-height: 24px;
                color: #ffffff;
                margin-bottom: 21px;
            }
            & > p {
                line-height: 19px;
                color: #ffffff;
                margin-bottom: 11px;
                text-decoration: none;
                & .a {
                    fill: none;
                    stroke: #5863f8;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 2px;
                }
            }
            & > p:first-of-type > svg {
                margin-right: 10px;
            }
            & > p:nth-of-type(2) > svg {
                margin-right: 10px;
            }
            & > p:nth-of-type(3) > svg {
                margin-right: 14px;
            }

            & > p:last-of-type {
                margin-left: auto;
                margin-top: 110px;
                & > a {
                    color: $blue;
                    text-decoration: none;
                    &:hover {
                        color: $bluehover;
                    }
                    &:active {
                        color: $blueactive;
                    }
                }
            }
        }
    }
}
@include mq(1248, max) {
    footer {
        width: 100%;
        padding: 20px 0 50px 0;
        background-color: black;
        box-sizing: border-box;
        & > section {
            max-width: 100%;
            width: 100%;
            padding: 0 40px;
            margin: 0 auto;
            box-sizing: border-box;
            justify-content: space-between;

            & > .blok_1 {
                margin-left: 0px;
            }
            & > .blok_2 {
                margin-left: 0;
            }
            & > .blok_3 {
                margin-left: 0;
            }
        }
    }
}
@include mq(768, max) {
    footer {
        width: 100%;
        padding: 20px 0 30px 0;
        background-color: black;
        box-sizing: border-box;
        & > section {
            padding: 0 10px;
            max-width: 100%;
            width: 100%;
            padding: 0 40px;
            margin: 0 auto;
            box-sizing: border-box;
            justify-content: space-between;
            & > .blok_1 {
                margin-left: 0px;
                max-width: 100%;
                width: 100%;
                justify-content: center;
                align-items: center;
                & > .text {
                    width: 100%;
                    text-align: center;
                }
                & > .copyright {
                    margin-top: 14px;
                    text-align: center;
                }
            }
            & > .blok_2 {
                margin-top: 30px;
                margin-left: 0;
                width: 100%;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                & > h4 {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 10px;
                }
                & > a {
                    margin: 6px;
                }
            }
            & > .blok_3 {
                margin-top: 30px;
                margin-left: 0;
                width: 100%;
                justify-content: center;
                align-items: center;
                & > p:last-of-type {
                    margin-left: 0;
                    margin-top: 20px;
                }
            }
        }
    }
}
