footer {
    width: 100%;
    padding: 89px 0 174px 0;
    background-color: black;
    box-sizing: border-box;
    & > section {
        max-width: 1150px;
        width: 100%;
        margin: 0 auto;
        flex-wrap: wrap;
        display: flex;
        & > .blok_1 {
            margin-left: 70px;
            width: 100%;
            max-width: 362px;
            display: flex;
            flex-direction: column;
            & > h3 {
                font-family: $osb;
                font-size: 24px;
                line-height: 33px;
                color: #ffffff;
            }
            & > .text {
                margin-top: 21px;
                width: 256px;
                line-height: 19px;
                color: #b1b1b1;
            }
            & > div {
                margin-top: 32px;
                & > a {
                    text-decoration: none;
                    margin-right: 10px;
                }
            }
            & > .copyright {
                margin-top: 54px;
                line-height: 19px;
                color: #b1b1b1;
                & > a {
                    text-decoration: none;
                    color: #5863f8;
                }
            }
        }
        & > .blok_2 {
            width: 72px;
            display: flex;
            flex-direction: column;
            margin-left: auto;
           
            & > h4 {
                font-family: $osr;
                font-size: 18px;
                line-height: 24px;
                color: #ffffff;
                margin-bottom: 21px;
            }
            & > a {
                line-height: 19px;
                color: $blue;
                margin-bottom: 11px;
                text-decoration: none;
                &:hover {
                    color: $bluehover;
                }
                &:active {
                    color: $blueactive;
                }
            }
        }
        & > .blok_3 {
            width: 220px;
            display: flex;
            flex-direction: column;
            margin-left: 147px;
          
            & > h4 {
                font-family: $osr;
                font-size: 18px;
                line-height: 24px;
                color: #ffffff;
                margin-bottom: 21px;
            }
            & > p {
                line-height: 19px;
                color: #ffffff;
                margin-bottom: 11px;
                text-decoration: none;
            }
            & > p:last-child{
                margin-left: auto;
                margin-top: 110px;
            }
        }
    }
}
@include mq(1248, max) {
    footer {
        width: 100%;
        padding: 20px 0 130px 0;
        background-color: black;
        box-sizing: border-box;
        & > section {
            max-width: 100%;
            width: 100%;
            padding: 0 40px;
            margin: 0 auto;
            box-sizing: border-box;
        }
    }
}
