main {
    padding: 61px 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1104px;
    display: flex;
    flex-direction: column;
    & > .main_1 {
        font-family: $osb;
        line-height: 19px;
        text-transform: uppercase;
        color: $blue;
    }
    & > .main_2 {
        font-family: $oseb;
        font-size: 42px;
        line-height: 56px;
        color: #000000;
    }
    & > .main_3 {
        margin-top: 13px;
        font-family: $osr;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
    }
    & > .main_4 {
        margin-top: 25px;
        font-family: $osr;
        font-size: 14px;
        line-height: 22px;
        color: #000000;
    }
    & > .main_5 {
        margin-top: 80px;
        font-family: $osb;
        line-height: 19px;
        text-transform: uppercase;
        color: $blue;
    }
    & > .main_6 {
        margin-top: 10px;
        width: 100%;
        max-width: 371px;
        font-family: $oseb;
        font-weight: 800;
        font-size: 42px;
        line-height: 56px;
        color: #000000;
    }
    & > form {
        display: flex;
        width: 100%;
        margin-top: 53px;
        justify-content: space-between;
        box-sizing: border-box;
        & > textarea {
            width: 100%;
            max-width: 720px;
            height: 280px;
            border: 1px solid #e8e8e8;
            outline: none;
            background-color: #f8f8f8;
            padding: 20px;
            box-sizing: border-box;
            color: #ffffff;
            @include placeholder {
                font-size: 13;
                color: #cecece;
            }
            &:hover {
                background-color: rgb(206, 206, 206);
                @include placeholder {
                    color: #f0f0f0;
                }
            }
            &:focus {
                background-color: rgb(151, 150, 150);
                @include placeholder {
                    color: #f0f0f0;
                }
            }
        }
        & > div {
            width: 100%;
            max-width: 352px;
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            & > input {
                width: 100%;
                height: 60px;
                border: 1px solid #e8e8e8;
                outline: none;
                background-color: #f8f8f8;
                padding: 20px;
                margin-bottom: 13px;
                box-sizing: border-box;
                @include placeholder {
                    font-size: 13px;
                    color: #cecece;
                }
                &:hover {
                    background-color: rgb(206, 206, 206);
                    @include placeholder {
                        color: #f0f0f0;
                    }
                }
                &:focus {
                    background-color: rgb(151, 150, 150);
                    @include placeholder {
                        color: #f0f0f0;
                    }
                }
            }
            & > button {
                width: 100%;
                height: 60px;
                background-color: $blue;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 27px 0 41px;
                outline: none;
                border: none;
                & .arrowup {
                    fill: none;
                    stroke: #fff;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 2px;
                }
                & > span {
                    margin-right: 22px;
                    text-transform: uppercase;
                    color: #ffffff;
                }
                &:hover {
                    background-color: $bluehover;
                }
                &:active {
                    background-color: $blueactive;
                }
            }
        }
    }
}

@include mq(1248, max) {
    main {
        padding: 20px 40px;
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        & > .main_2 {
            font-size: 32px;
            line-height: 42px;
        }
        & > .main_5 {
            margin-top: 40px;
        }
        & > .main_6 {
            font-size: 32px;
            line-height: 42px;
        }
        & > form {
            display: flex;
            width: 100%;
            margin-top: 53px;
            justify-content: space-between;
            box-sizing: border-box;
            & > textarea {
                width: 100%;
                max-width: 720px;
                height: 280px;
                border: 1px solid #e8e8e8;
                outline: none;
                background-color: #f8f8f8;
                padding: 20px;
                box-sizing: border-box;
                @include placeholder {
                    font-size: 13;
                    color: #cecece;
                }
            }
            & > div {
                width: 100%;
                max-width: 352px;
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                & > input {
                    width: 100%;
                    height: 60px;
                    border: 1px solid #e8e8e8;
                    outline: none;
                    background-color: #f8f8f8;
                    padding: 20px;
                    margin-bottom: 13px;
                    box-sizing: border-box;
                    @include placeholder {
                        font-size: 13px;
                        color: #cecece;
                    }
                }
            }
        }
    }
}
@include mq(768, max) {
    main {
        & > form {
            display: flex;
            width: 100%;
            margin-top: 53px;
            justify-content: center;
            box-sizing: border-box;
            flex-wrap: wrap;
            & > textarea {
                width: 100%;
                max-width: 720px;
                height: 280px;
                border: 1px solid #e8e8e8;
                outline: none;
                background-color: #f8f8f8;
                padding: 20px;
                box-sizing: border-box;
                @include placeholder {
                    font-size: 13;
                    color: #cecece;
                }
            }
            & > div {
                margin-top: 20px;
                width: 100%;
                max-width: 100%;
                margin-left: 0px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
