$spinkit-size: 6em !default;
$spinkit-spinner-color: #1100ff !default;

.sk-circle-bounce {
  $circleCount: 12;
  $animationDuration: 1.2s;

  width: $spinkit-size;
  height: $spinkit-size;
  position: relative;
  margin: auto;

  .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: $spinkit-spinner-color;
    border-radius: 100%;
    animation: sk-circle-bounce-delay $animationDuration infinite ease-in-out both;
  }

  @for $i from 2 through $circleCount {
    .sk-circle-#{$i} {
      transform: rotate((360deg / $circleCount * ($i - 1)));
    }
  }

  @for $i from 2 through $circleCount {
    .sk-circle-#{$i}:before {
      animation-delay: (-$animationDuration + $animationDuration / $circleCount * ($i - 1));
    }
  }
}

@keyframes sk-circle-bounce-delay {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.0);
  }
}

.modelWin {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(122, 121, 121, 0.589);
    justify-content: center;
    align-items: center;
    z-index: 200;
    & > .wite,
    & > .good,
    & > .error {
        display: none;
        border-radius: 3px;
        position: relative;
        background-color: #156ff500;
        justify-content: center;
        align-items: center;  
        width: 100%;
        max-width: 80vw;
        height: 90vh;
        max-height: 500px;
        & > p {
            margin: 0 10px;
            font-family: $osr;
            font-size: 4vh;
            color: rgb(39, 39, 39);
            text-align: center;
        }

        & > span {
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            font-size: 25px;
            border-radius: 50%;
            background-color: rgba(128, 128, 128, 0.267);
            color: rgb(39, 38, 38);
            top: 20px;
            right: 20px;
            font-family: $osr;
            line-height: 35px;
            font-stretch: ultra-condensed;
            &:hover {
                background-color: rgba(200, 198, 198, 0.267);
                cursor: pointer;
            }
        }
    }
    & > .wite {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: rgba(190, 190, 190, 0.808);
        display: flex;
        margin: 0;
        max-width: 100%;
        max-height: 100%;
    }
    & > .wite-active {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        background-color: rgb(115, 115, 206);
        display: flex;
        margin: 0;
    }
    & > .wite-off {
        display: none;
    }
    & > .good-active {
        display: flex;
        background-color: rgb(241, 241, 245);
    }
    & > .error-active {
        background-color: rgb(219, 121, 121);
        display: flex;
    }
}
.modelWin-active {
    display: flex;
}
