
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */