@import "fonts";
@import "myvar";
@import "mixins";
@import "waiteLoad";

// colors
$blue: #5863f8;
$bluehover: rgb(164, 165, 180);
$blueactive: rgb(11, 26, 236);

* {
    margin: 0;
    padding: 0;
}
.contener {
    width: 100%;
    font-family: $osr;
    font-size: 14px;
    box-sizing: content-box;
}

@import "header";
@import "main";
@import "footer";
